.calculator {
	width: 300px;
	margin: 50px auto;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px;
	background-color: #A04000;
}
h1{
	text-align: center;
}

.display {
	background-color: #fff;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
}

.display input[type="text"] {
	border: none;
	background-color: #fff;
	width: 100%;
	height: 30px;
	font-size: 20px;
	text-align: right;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5px;
}

.buttons button {
	border: none;
	background-color: white;
	color: black;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}
